/* Estilo global */
body {
    font-family: Arial, sans-serif;
    background-color: #250101;
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Estilo del encabezado */
header {
    background: linear-gradient( rgb(233, 66, 91), rgb(233, 66, 91), rgb(233, 66, 91), rgb(226, 107, 125), rgb(255, 255, 255));
    color: #000000;
    padding: 30px;
    text-align: center; 
}
.image, .title1, .title2 {
    display: inline-block;
    vertical-align: middle;
}
nav {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
    margin: 0 10px;
}
nav ul li a {
    font-size: 20px;
    color: #000000;
    text-decoration: none;
}
nav ul li a:hover {
    color: #000000;
}
h1 {
    font-size: 40px;
    margin: 0;
    padding: 10px 0;
}
h2 {
    font-size: 24px;
    margin: 0;
    padding: 10px 0;
}
h3 {
    font-size: 16px;
    margin: 0;
    padding: 10px 0;
}

/* Estilos para la sección */
section {
    padding: 20px;
    position: relative;
    text-align: center;
}
  
#image1 {
    margin:auto;
    float: left;
    max-width: 20%;
}
  
p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}
  
.comments {
    margin-top: 20px;
    padding: 5%;
}
  
h3 {
    font-size: 20px;
    margin-bottom: 10px;
}
  
.comments ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.comments li {
    margin: 5px 0;
}
  
.comments a {
    color: #222;
    background-color: #ddd;
    padding: 5px 10px;
    border-radius: 10px;
    text-decoration: none;
}
  
.comments a:hover {
    background-color: #aaa;
    color: #fff;
}

/* Estilo del pie de página */
footer {
    background-color: #6e0000;
    color: #fff;
    padding: 1px;
    text-align: center;

    position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}