<div class="row row-cols-1 row-cols-md-3 g-4 d-flex justify-content-center bg-black mt-2">
  <div class="col bg-black">
    <div class="card bg-black">
      <div class="card-body text-center text-light">
        <a class="nav-link active" aria-current="page" href="#">
          <h5 class="card-title">Tienda</h5>
        </a>
        <a class="nav-link active" aria-current="page" href="../Html/formulario.html">
          <h5 class="card-title">Contáctenos</h5>
        </a>
        <a class="nav-link active" aria-current="page" href="#">
          <h5 class="card-title">Plolíticas de Privacidad</h5>
        </a>
      </div>
    </div>
  </div>
  <div class="col bg-black" style="width: 18rem;">
    <div class="card bg-black">
      <img src="../Imagenes/Logo3.png" alt="Logo" class="rounded bg-black mx-auto" width="60%" height="60%">
    </div>
  </div>
  <div class="col bg-black">
    <div class="card bg-black text-light">
      <div class="card-body text-center bg-black">
        <h5 class="card-title">CONTÁCTENOS</h5>
        <a class="nav-link active" aria-current="page" href="https://goo.gl/maps/uvsDbquLy6Rs1pcC7">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill"
            viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
          </svg> Cra. 20 #21, Ituango, Antioquia</a>
        <a class="nav-link active" aria-current="page" href="#">
         +75 313 2563245
        </a>
        <a class="nav-link active" aria-current="page" href="#">
          ventas@elyella.com</a>
      </div>
    </div>
  </div>
</div>
<div class="bg-black d-flex justify-content-center">
  <p class="text-light pt-2">© 2023 El y Ella. Todos los derechos reservados.</p>
</div>