<div class="container text-center d-flex justify-content-center">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        
                <ul class="social-icons navbar-nav me-auto mb-2 mb-lg-0">
                    <li>
                        <a href="https://www.facebook.com/DAlexanderGC" class="social-icon" id="Facebook">
                            <img src="Imagenes/facebook.png" alt="Facebook" width="60" height="60"
                                class="d-inline-block align-text-top m-2 p-2">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="social-icon" id="Whatsapp">
                            <img src="Imagenes/whatsapp.png" alt="Whatsapp" width="60" height="60"
                                class="d-inline-block align-text-top m-2">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="social-icon m-2" id="GitHub">
                            <img src="Imagenes/github.png" alt="GitHub" width="60" height="60"
                                class="d-inline-block align-text-top m-2">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="social-icon" id="Twitter">
                            <img src="Imagenes/gorjeo (1).png" alt="Twitter" width="60" height="60"
                                class="d-inline-block align-text-top m-2">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="social-icon" id="LinkedIn">
                            <img src="Imagenes/linkedin.png" alt="LinkedIn" width="60" height="60"
                                class="d-inline-block align-text-top m-2">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="social-icon" id="Instagram">
                            <img src="Imagenes/instagram.png" alt="Instagram" width="60" height="60"
                                class="d-inline-block align-text-top m-2">
                        </a>
                    </li>
                </ul>
        
    </nav>
</div>