<div class="row row-cols-1 row-cols-md-3 g-4 d-flex justify-content-center bg-black mt-2">
  <div class="col bg-black">
    <div class="card bg-black">
      <div class="card-body text-center text-light">
        <a class="nav-link active" aria-current="page" href="#">
          <h5 class="card-title">Tienda</h5>
        </a>
        <a class="nav-link active" aria-current="page" href="../Html/formulario.html">
          <h5 class="card-title">Contáctenos</h5>
        </a>
        <a class="nav-link active" aria-current="page" href="#">
          <h5 class="card-title">Plolíticas de Privacidad</h5>
        </a>
      </div>
    </div>
  </div>
  <div class="col bg-black" style="width: 18rem;">
    <div class="card bg-black">
      <img src="../Imagenes/Logo3.png" alt="Logo" class="rounded bg-black mx-auto" width="60%" height="60%">
    </div>
  </div>
  <div class="col bg-black">
    <div class="card bg-black text-light">
      <div class="card-body text-center bg-black">
        <h5 class="card-title">CONTÁCTENOS</h5>
        <a class="nav-link active" aria-current="page" href="https://goo.gl/maps/uvsDbquLy6Rs1pcC7">
          <i class="bi bi-geo-alt-fill"></i> Cra. 20 #21, Ituango, Antioquia</a>
        <a class="nav-link active" aria-current="page" href="#">
          <i class="bi bi-whatsapp"></i> +75 313 2563245 </a>
        <a class="nav-link active" aria-current="page" href="#">
          <i class="bi bi-envelope-fill"></i> ventas@elyella.com</a>
      </div>
    </div>
  </div>
</div>
<div class="bg-black d-flex justify-content-center">
  <p class="text-light pt-2">© 2023 El y Ella. Todos los derechos reservados.</p>
</div>