<div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center align-items-center d-flex bg-dark m-0">
  <div class="col bg-dark">
    <div class="card bg-dark border border-dark">
      <div class="card-body text-center text-light">
        <a class="nav-link active" aria-current="page" href="../index.html#dsc">
          <h5 class="card-title">Descubre</h5>
        </a>
        <a class="nav-link active" aria-current="page" href="../index.html#mvv">
          <h5 class="card-title">Sobre nosotros</h5>
        </a>
        <a class="nav-link active" aria-current="page" href="../index.html#pdp">
          <h5 class="card-title">Plolíticas de Privacidad</h5>
        </a>
        <a class="nav-link active" aria-current="page" href="../Html/formulario.html">
          <h5 class="card-title ">Sugerencias y opiniones</h5>
        </a>

      </div>
    </div>
  </div>
  <div class="col bg-dark">
    <div class="card bg-dark border border-dark">
      <a class="nav-link active" aria-current="page" href="../index.html">
        <div class="text-center">
          <img src="../Imagenes/Logo3.png" alt="Logo" class="rounded mx-auto w-25 p-25s">
        </div>
      </a>
    </div>

    <div class="bg-dark d-flex justify-content-center">
      <p class="text-light pt-2">© 2023 El y Ella. Todos los derechos reservados.</p>
    </div>
  </div>
  <div class="col bg-dark">
    <div class="card bg-dark text-light border border-dark">
      <div class="card-body text-center bg-dark">
        <h3>Contáctenos</h3>
        <a class="nav-link active" aria-current="page" href="https://goo.gl/maps/uvsDbquLy6Rs1pcC7">
          <i class="bi bi-geo-alt-fill"></i> Cra. 20 #21, Ituango, Antioquia</a>
        <a class="nav-link active" aria-current="page" href="#">
          <i class="bi bi-whatsapp"></i> +75 313 2563245 </a>
        <a class="nav-link active" aria-current="page" href="#">
          <i class="bi bi-envelope-fill"></i> ventas@elyella.com</a>
        <a class="nav-link active" aria-current="page" href="#">
          <i class="bi bi-instagram"></i> @almacenelyella</a>
        <a class="nav-link active" aria-current="page" href="#">
          <i class="bi bi-facebook"></i> @almacenlyella</a>
      </div>
    </div>
  </div>
</div>
