<div class="container-fluid" id="subMenuIniciarSesion">
    <div class="row justify-content-center">
        <div class="col-md">
            <h2 class="text-dark">Iniciar Sesión</h2>
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label text-dark">Correo electronico</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                    <div id="emailHelp" class="form-text text-secondary">Nunca compartiremos su correo electrónico
                        con nadie más.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label text-dark">Contraseña</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" required>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                    <label class="form-check-label text-dark" for="exampleCheck1">Confirmar</label>
                </div>
                <button type="submit" class="btn btn-danger">Ingresar</button>
            </form>
            <!-- <p class="text-dark">¿No tienes una cuenta? <a class="text-success" href="#reg">Regístrate</a></p>               -->
        </div>
    </div>
</div>