<script defer src="./JS/usuario.js"></script>
<div class="container-fluid" id="subMenuRegistro">
    <div class="row justify-content-center">
        <div class="col-md">
            <form>
                <div class="mb-3">
                    <label for="nombre" class="form-label text-dark">Nombre:</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" required>
                </div>
                <div class="mb-3">
                    <label for="tipoDocumento" class="form-label text-dark">Tipo de documento:</label>
                    <select class="form-control" id="tipoDocumento" name="tipoDocumento" required>
                      <option value="">Seleccione un tipo de documento</option>
                      <option value="CC">Cédula de Ciudadanía</option>
                      <option value="TI">Tarjeta de Identidad</option>
                      <option value="CE">Cédula de Extranjería</option>
                      <option value="PA">Pasaporte</option>
                      <!-- Agregar más opciones de tipos de documento -->
                    </select>
                  </div>                  
                <div class="mb-3">
                    <label for="numeroDocumento" class="form-label text-dark">Número de documento:</label>
                    <input type="text" class="form-control" id="numeroDocumento" name="numeroDocumento" required>
                </div>
                <div class="mb-3">
                    <label for="direccion" class="form-label text-dark">Dirección:</label>
                    <input type="text" class="form-control" id="direccion" name="direccion">
                </div>
                <div class="mb-3">
                    <label for="telefono" class="form-label text-dark">Teléfono:</label>
                    <input type="text" class="form-control" id="telefono" name="telefono">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label text-dark">Correo electrónico:</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="clave" class="form-label text-dark">Contraseña:</label>
                    <input type="password" class="form-control" id="clave" name="clave" required>
                </div>
                <div class="mb-3">
                    <label for="confirmar-clave" class="form-label text-dark">Confirmar contraseña:</label>
                    <input type="password" class="form-control" id="confirmar-clave" name="confirmar-clave" required>
                </div>
                <button type="submit" class="btn btn-danger">Registrarse</button>
            </form>
            <p class="text-dark">¿Ya tienes una cuenta? <a class="text-success" href="../Components/ingreso.html">Inicia
                    sesión</a></p>
        </div>
    </div>
</div>

