<div class="container-fluid" id="subMenuRegistro">
    <div class="row justify-content-center">
        <div class="col-md">
            <form>
                <div class="mb-3">
                    <label for="nombre" class="form-label text-dark">Nombre:</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" required>
                </div>
                <div class="mb-3">
                    <label for="correo" class="form-label text-dark">Correo electrónico:</label>
                    <input type="email" class="form-control" id="correo" name="correo" required>
                </div>
                <div class="mb-3">
                    <label for="usuario" class="form-label text-dark">Usuario:</label>
                    <input type="text" class="form-control" id="usuario" name="usuario" required>
                </div>
                <div class="mb-3">
                    <label for="contraseña" class="form-label text-dark">Contraseña:</label>
                    <input type="password" class="form-control" id="contraseña" name="contraseña" required>
                </div>
                <div class="mb-3">
                    <label for="confirmar-contraseña" class="form-label text-dark">Confirmar contraseña:</label>
                    <input type="password" class="form-control" id="confirmar-contraseña"
                        name="confirmar-contraseña" required>
                </div>
                <button type="submit" class="btn btn-danger">Registrarse</button>
            </form>
            <p class="text-dark">¿Ya tienes una cuenta? <a class="text-success" href="../Components/ingreso.html">Inicia sesión</a></p>

            <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" href="./ingreso.html" onclick="mostrarSubMenu('subMenuIniciarSesion')">Iniciar Sesión</a>
                </li>
                
              </ul>

        </div>
    </div>
</div>